<div class="maincontainer" style="display: flex; align-items: center; justify-content: center;">
    <div class="subcontainer" style="border: 1px solid blue; width: 450px; padding: 2%;">
        <div class="row1" style="display: flex; align-items: center; justify-content: space-between;">
            <img src="../../../assets/images/controller.png" alt="150x150" style="width: 50px;">
            <h1>Registro de juegos</h1>
            <div></div>
        </div>

        <div class="row2" style="display: flex; align-items: center; justify-content: center;">
            <h3 style="margin-right: 2%;">Plataforma: </h3>
            <span>
                <select name="selector" [(ngModel)]="selectedValue">
                    <option *ngFor="let dato of datos" [value]="dato.PK_plataforma" [selected]="dato.PK_plataforma === selectedValue">
                        {{dato.nombre_plataforma}}
                    </option>
                </select>
            </span>
        </div>

        <div class="row3" style="display: flex; align-items: center; justify-content: center;">
            <h3 style="margin-right: 2%;">Titulo del juego: </h3>
            <input type="text" [(ngModel)]="tituloJuego">
        </div>
        <div class="button" style="display: flex; justify-content: end;">
            <button style="background-color: cornflowerblue; color:white; width: 100px; height: 40px;" (click)="guardarJuego()">Guardar</button>
        </div>
    </div>
</div>